.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  height: 100vh;
  width: 80vw;
  align-items: center;
}

.recordSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.recordButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.input {
  border-radius: 8%;
  border: 5px purple;
  border-style: ridge;
  text-align: center;
  max-width: 60px;
}

.pie {
  width: 200px;
}
